*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url("./wood.png");
    background-size: auto;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
}

#container
{
    height: 500px;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: 3px solid #056905;
    border-radius: 3px;
}

header
{
    text-align: center;
    padding-top: 30px;
    color: #1b140b;
    font-size: 18px;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    border: 2px solid black;
    background-color: #fff0eb;
}

nav
{
    grid-column: 1 / 4;
    grid-row: 4 / 13;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    align-content: flex-start;
    border: 2px solid #000000;
    background-color: #fff0eb;
}

.nav__tile
{
    width: 85px;
    height: 85px;
    color: #fff0eb;
    text-align: center;
    background-color: #045804;
    border: 5px solid #056905;
    border-radius: 3px;
}

main
{
    grid-column: 4 / 13;
    grid-row: 1 / 13;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #fff0eb;
}

.data
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid black;
}

.result
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

footer
{
    margin-top: 7px;
    margin-left: 120px;
    margin-right: 120px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 2px solid black;
}